<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="RAK">
	<title>iTrade - Book Trading System</title>
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700,900" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
	<!-- Styles -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/pe-icon-7-stroke/css/pe-icon-7.css">
	<link rel="stylesheet" href="/assets/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/animate.min.css">
	<link rel="stylesheet" href="/assets/css/animations.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/assets/css/bootsnipp.min.css">
	<link rel="stylesheet" href="/assets/css/theme-orange.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<!--  Js -->
	<script src="/assets/js/modernizr.custom.js"></script>
	<script src="/assets/js/jquery-2.1.3.min.js"></script>
</head>

<body>

	<!-- PRELOADER -->
	<div class="preloader">
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>
	</div>
	<!-- end: PRELOADER  -->


	<div class="background-blur" style="background-image: url('/assets/img/bg/login.jpg');"></div>


	<!-- NAVIGATION -->
	<nav>
		<!-- Logo -->
		<div class="logo-box">
			<a class="logo logo-img">
                    <img src="/assets/img/logo-text.png" class="img-responsive" alt="iTrade">
                </a>
		</div>

		<!-- Menu button mobile -->
		<button type="button" aria-label="Toggle Navigation" class="menu-button-mobile lines-button x2">
            <span class="lines"></span>
        </button>

		<!-- Menu -->
		<div class="menu-box my-scrollbar">
			<div id="dl-menu" class="dl-menuwrapper">
				<ul class="dl-menu dl-menuopen menu-left">
					<li><a class="page-link" id="nav-available" href="index.html#available" data-hover="available books">available books</a></li>
					<li><a class="page-link" id="nav-request" href="index.html#request" data-hover="requested books">requested books</a></li>
					<li><a class="page-link" id="nav-books" href="index.html#books" data-hover="my books">my books</a></li>
					<li><a class="page-link" id="nav-statistics" href="index.html#statistics" data-hover="book statistics">book statistics</a></li>
					<li><a class="page-link" id="nav-upload" href="index.html#upload" data-hover="upload book">upload book</a></li>
					<li id="myprofile"><a class="page-link" id="nav-profile" href="index.html#profile" data-hover="edit profile">edit profile</a></li>
					<li><a id="nav-logout" href="/users/logout" data-hover="log out">log out</a></li>
				</ul>
			</div>
		</div>
		<footer class="footer">
			<a href="index.html#profile" id="foot">
                <button class="btn btn-block"><span style="text-transform: capitalize">Hello, </span>
                {{#if name}}
                    {{name}}
                {{/if}}

                {{#else}}
                    Undefined User
                {{/else}}
                </button>
            </a>
		</footer>
	</nav>
	<!-- end: NAVIGATION -->



	<!-- PAGE-WRAPPER -->
	<div class="page-wrapper">


		<div class="page-ajax-preloader">
			<i class="fa fa-refresh fa-spin"></i>
			<span>Loading...</span>
		</div>


		<!-- AVAILABLE Section -->
		<section id="available" class="page-activ">
			<div class="content">
				<div class="container">

					<header>
						<h3>Available books<small>&nbsp; </small></h3>
						<h5>Books available for trade</h5>
					</header>

					<div id="portfolio-filter">

						<!-- navigatin portfolio-filter -->
						<div class="portfolio-filter-nav">
							<button class="btn btn-sm hidden-lg hidden-md" type="button" data-toggle="collapse" data-target="#collapseFiltr" aria-expanded="false" aria-controls="collapseFiltr">
                                    <i class="fa fa-fw fa-filter"></i> Filter
                                </button>
							<div class="collapse" id="collapseFiltr">
								<button class="filter btn btn-sm btn-link active" data-group="all">All</button>
								<button class="filter btn btn-sm btn-link" data-group="art">Art</button>
								<button class="filter btn btn-sm btn-link" data-group="biography">Biography</button>
								<button class="filter btn btn-sm btn-link" data-group="business">Business</button>
								<button class="filter btn btn-sm btn-link" data-group="comics">comics</button>
								<button class="filter btn btn-sm btn-link" data-group="educational">educational</button>
								<button class="filter btn btn-sm btn-link" data-group="fiction">fiction</button>
								<button class="filter btn btn-sm btn-link" data-group="journals">journals</button>
								<button class="filter btn btn-sm btn-link" data-group="philosophical">philosophical</button>
								<button class="filter btn btn-sm btn-link" data-group="poetry">poetry</button>
								<button class="filter btn btn-sm btn-link" data-group="religious">religious</button>
								<button class="filter btn btn-sm btn-link" data-group="satire">satire</button>
								<button class="filter btn btn-sm btn-link" data-group="self-help">Self-help</button>
								<button class="filter btn btn-sm btn-link" data-group="sports">sports</button>
								<button class="filter btn btn-sm btn-link" data-group="travel">travel</button>
							</div>
						</div>
						<!-- end: navigatin portfolio-filter -->


						<!-- portfolio-colum -->
						<div id="all-books" class="portfolio-colum portfolio-masonry masonry-grid-3 portfolio-padding15 portfolio-hover">

						</div>
						<!-- end: portfolio-colum -->

					</div>
					<!-- #portfolio-filter -->

					<div class="space20"></div>


				</div>
				<!-- .container -->
			</div>
			<!-- .content -->

		</section>
		<!-- end: AVAILABLE Section -->


		<!-- REQUESTED Section -->
		<section id="request" class="page-activ">
			<div class="content">
				<div class="container">

					<header>
						<h3>Requested books<small>&nbsp; </small></h3>
						<h5>Books requested for trade</h5>
					</header>

					<div id="portfolio-filter">

						<!-- navigatin portfolio-filter -->
						<div class="portfolio-filter-nav">
							<button class="btn btn-sm hidden-lg hidden-md" type="button" data-toggle="collapse" data-target="#collapseFiltr" aria-expanded="false" aria-controls="collapseFiltr">
                                    <i class="fa fa-fw fa-filter"></i> Filter
                                </button>
							<div class="collapse" id="collapseFiltr">
								<button class="filter btn btn-sm btn-link active" data-group="all">All</button>
								<button class="filter btn btn-sm btn-link" data-group="photography">Fiction</button>
								<button class="filter btn btn-sm btn-link" data-group="identity">Biography</button>
								<button class="filter btn btn-sm btn-link" data-group="webdesign">Self-help</button>
							</div>
						</div>
						<!-- end: navigatin portfolio-filter -->


						<!-- portfolio-colum -->
						<div class="portfolio-colum portfolio-masonry masonry-grid-3 portfolio-padding15 portfolio-hover">

							<figure class="item" data-groups='["all", "photography"]' id="1234">
								<a>
                                        <img src="https://ladygeekgirl.files.wordpress.com/2013/08/inheritance_cycle_by_manuelo108-d3cuskr.jpg" alt="">
                                        <div>
                                            <h5 class="name">Inheritance Cycle</h5>
                                            <small><i class="fa fa-user tip" style="left: 0px">&nbsp;7 <span class="tiptext">No. of requests</span></i></small>
                                            <button class="btn btn-request">Delete</button>
                                        </div>
                                </a>
							</figure>

							<figure class="item" data-groups='["all","webdesign"]'>
								<a class="ajax-loader" href="portfolio-single3.html">
                                        <img src="/assets/img/portfolio2/3.jpg" alt="">
                                        <div>
                                            <h5 class="name">Project Name</h5>
                                            <small>Web Design</small>
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </a>
							</figure>

							<figure class="item" data-groups='["all", "identity"]'>
								<a class="ajax-loader" href="portfolio-single1.html">
                                        <img src="/assets/img/portfolio2/4.jpg" alt="">
                                        <div>
                                            <h5 class="name">Project Name</h5>
                                            <small>Identity</small>
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </a>
							</figure>

							<figure class="item" data-groups='["all", "photography", "identity"]'>
								<a class="ajax-loader" href="portfolio-single1.html">
                                        <img src="/assets/img/portfolio2/5.jpg" alt="">
                                        <div>
                                            <h5 class="name">Project Name</h5>
                                            <small>Photography</small>
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </a>
							</figure>

							<figure class="col-md-4 col-sm-6" data-groups='["all", "photography"]'>
								<a class="ajax-loader" href="portfolio-single1.html">
                                        <img src="/assets/img/portfolio2/6.jpg" alt="">
                                        <div>
                                            <h5 class="name">Project Name</h5>
                                            <small>Photography</small>
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </a>
							</figure>

							<figure class="item" data-groups='["all", "photography"]'>
								<a class="ajax-loader" href="portfolio-single1.html">
                                        <img src="/assets/img/portfolio2/7.jpg" alt="">
                                        <div>
                                            <h5 class="name">Project Name</h5>
                                            <small>Photography</small>
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </a>
							</figure>

							<figure class="item" data-groups='["all", "photography", "identity"]'>
								<a class="ajax-loader" href="portfolio-single1.html">
                                        <img src="/assets/img/portfolio2/8.jpg" alt="">
                                        <div>
                                            <h5 class="name">Project Name</h5>
                                            <small>Photography</small>
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </a>
							</figure>

							<figure class="item" data-groups='["all","webdesign"]'>
								<a class="ajax-loader" href="portfolio-single1.html">
                                        <img src="/assets/img/portfolio2/9.jpg" alt="">
                                        <div>
                                            <h5 class="name">Project Name</h5>
                                            <small>Item Category</small>
                                            <i class="fa fa-long-arrow-right"></i>
                                        </div>
                                    </a>
							</figure>


						</div>
						<!-- end: portfolio-colum -->

					</div>
					<!-- #portfolio-filter -->

					<div class="space20"></div>


				</div>
				<!-- .container -->
			</div>
			<!-- .content -->

		</section>
		<!-- end: REQUESTED Section -->


		<!-- BOOKS Section -->
		<section id="books">
			<div class="content">
				<div class="container">


					<header>
						<h3>My Books<small>&nbsp;</small></h3>
						<h5>Books uploaded by me</h5>
					</header>

					<div class="blog-masonry masonry-grid-3">
						<div class="item-sizer"></div>

						<div class="item">
							<div class="blog-box anim-shadow">
								<div class="blog-box-img2">
									<img src="https://i.kinja-img.com/gawker-media/image/upload/s--Jgx4HVlr--/c_scale,fl_progressive,q_80,w_800/mggdbw9nfwxdedu39deg.png" class="img-responsive" alt="">
								</div>
								<div class="blog-box-caption">
									<div class="category">
										<a href="#" rel="category tag">fiction</a>
									</div>
									<h5 class="title">Good Omens</h5>
								</div>
								<!-- .blog-box-caption -->
								<div class="blog-box-footer">
									<div class="row">
										<div class="col-xs-6">
											<span><i class="fa fa-fw fa-user" style="left: 0px"></i>No. of requests: 4</span>
										</div>
										<div class="col-xs-6">
											<button class="btn btn-details">More Details</button>
										</div>
									</div>
								</div>

							</div>
							<!-- .blog-box -->
						</div>
						<!-- .item -->

						<div class="item">
							<div class="blog-box">
								<div class="blog-box-img">
									<img src="/assets/img/blog/2.jpg" class="img-responsive" alt="">
								</div>
								<div class="blog-box-caption">
									<div class="category">
										<a href="#" rel="category tag">css3</a>
										<a href="#" rel="category tag">html5</a>
										<a href="#" rel="category tag">javascript</a>
									</div>
									<h5 class="title">The Only Responsive Templates</h5>
									<a class="ajax-loader read-more" href="blog-post1.html">
                                                    read more<i class="fa fa-fw fa-long-arrow-right"></i>
                                                </a>
								</div>
								<!-- .blog-box-caption -->
								<div class="blog-box-footer">
									<span class="autor">By John Doe</span>
									<span class="separator">|</span>
									<span class="date"><i class="fa fa-fw fa-clock-o"></i>18 May, 2014</span>
									<span class="like pull-right"><i class="fa fa-fw fa-thumbs-o-up"></i>99</span>
								</div>
								<!-- .blog-box-footer -->
							</div>
							<!-- .blog-box -->
						</div>
						<!-- .item -->

						<div class="item">
							<div class="blog-box anim-shadow">
								<div class="blog-box-img">
									<img src="/assets/img/blog/3.jpg" class="img-responsive" alt="">
								</div>
								<div class="blog-box-caption">
									<h5 class="title">Clean and Fresh Fully Responsive Template</h5>
									<p>
										Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
									</p>
									<a class="ajax-loader read-more" href="blog-post1.html">
                                                    read more<i class="fa fa-fw fa-long-arrow-right"></i>
                                                </a>
								</div>
								<!-- .blog-box-caption -->
								<div class="blog-box-footer">
									<span class="autor">By John Doe</span>
									<span class="separator">|</span>
									<span class="date"><i class="fa fa-fw fa-clock-o"></i>18 May, 2014</span>
									<span class="like pull-right"><i class="fa fa-fw fa-thumbs-o-up"></i>123</span>
								</div>
								<!-- .blog-box-footer -->
							</div>
							<!-- .blog-box -->
						</div>
						<!-- .item -->

						<div class="item">
							<div class="blog-box anim-shadow">
								<div class="blog-box-img">
									<img src="/assets/img/blog/4.jpg" class="img-responsive" alt="">
								</div>
								<div class="blog-box-caption">
									<h5 class="title">This is an video post</h5>
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
									</p>
									<a class="ajax-loader read-more" href="blog-post1.html">
                                                    read more<i class="fa fa-fw fa-long-arrow-right"></i>
                                                </a>
								</div>
								<!-- .blog-box-caption -->
								<div class="blog-box-footer">
									<span class="autor">By John Doe</span>
									<span class="separator">|</span>
									<span class="date"><i class="fa fa-fw fa-clock-o"></i>18 May, 2014</span>
									<span class="like pull-right"><i class="fa fa-fw fa-thumbs-o-up"></i>99</span>
								</div>
								<!-- .blog-box-footer -->
							</div>
							<!-- .blog-box -->
						</div>
						<!-- .item -->

						<div class="item">
							<div class="blog-box anim-shadow">
								<div class="blog-box-img">
									<img src="/assets/img/blog/1.jpg" class="img-responsive" alt="">
								</div>
								<div class="blog-box-caption">
									<h5 class="title">The Only Responsive Templates</h5>
									<p>
										<em>Lorem ipsum dolor sit amet, sociis natoque perse penatibus et magnistra dis parturient.</em>
										<br /> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
									</p>
									<a class="ajax-loader read-more" href="blog-post1.html">
                                                    read more<i class="fa fa-fw fa-long-arrow-right"></i>
                                                </a>
								</div>
								<!-- .blog-box-caption -->
								<div class="blog-box-footer">
									<span class="autor">By John Doe</span>
									<span class="separator">|</span>
									<span class="date"><i class="fa fa-fw fa-clock-o"></i>18 May, 2014</span>
									<span class="like pull-right"><i class="fa fa-fw fa-thumbs-o-up"></i>99</span>
								</div>
								<!-- .blog-box-footer -->
							</div>
							<!-- .blog-box -->
						</div>
						<!-- .item -->

						<div class="item">
							<div class="blog-box anim-shadow">
								<div class="blog-box-img">
									<img src="/assets/img/blog/2.jpg" class="img-responsive" alt="">
								</div>
								<div class="blog-box-caption">
									<h5 class="title">The Only Responsive Templates</h5>
									<p>
										Lorem ipsum dolor sit amet, sociis natoque perse penatibus et magnistra dis parturient.
										<br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
									</p>
									<a class="ajax-loader read-more" href="blog-post1.html">
                                                    read more<i class="fa fa-fw fa-long-arrow-right"></i>
                                                </a>
								</div>
								<!-- .blog-box-caption -->
								<div class="blog-box-footer">
									<span class="autor">By John Doe</span>
									<span class="separator">|</span>
									<span class="date"><i class="fa fa-fw fa-clock-o"></i>18 May, 2014</span>
									<span class="like pull-right"><i class="fa fa-fw fa-thumbs-o-up"></i>99</span>
								</div>
								<!-- .blog-box-footer -->
							</div>
							<!-- .blog-box -->
						</div>
						<!-- .item -->

					</div>
					<!-- .blog-masonry -->

					<div class="blog-loadmore">
						<a class="btn btn-default" href="#">Load More</a>
					</div>


				</div>
				<!-- .container -->
			</div>
			<!-- .content -->
		</section>
		<!-- end: BOOKS Section -->


		<!-- STATISTICS Section -->
		<section id="statistics">
			<div class="content">
				<div class="container">

					<header>
						<h3>Book statistics<small>&nbsp;</small></h3>
						<h5>Statistics about uploaded books</h5>
					</header>

					<div>
						<iframe src="" frameborder="0"></iframe>
					</div>
					<!-- .row -->
					<div class="space50"></div>

				</div>
				<!-- .container -->
			</div>
			<!-- .content -->
		</section>
		<!-- end: STATISTICS Section -->


		<!-- UPLOAD Section -->
		<section id="upload">
			<div class="content">
				<div class="container">

					<header>
						<h3>Upload Book<small>&nbsp;</small></h3>
						<h5>Add a new book for trade</h5>
					</header>

					<div>
						<!-- contact-details -->

						<!-- contact-form -->
						<div class="col-box bg-gray-light contact-form">

							<h4 class="text-uppercase">Add Book</h4>

							<form class="form-style" id="booksForm" method="POST" action="/users/upload-book">
								<div class="form-group">
									<input type="text" class="text-field form-control field-validation required" data-validation-type="string" id="book-name" placeholder="Book name" name="bookname" />
									<i class="form-icon fa fa-book-o"></i>
								</div>

								<h5>Genre:</h5>

								<div class="form-group">
									<div class="row">
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="art" id="art" />
											<label for="art">art</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="biography" id="biography" />
											<label for="biography">biography</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="business" id="business" />
											<label for="business">business</label>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="comics" id="comics" />
											<label for="comics">comics</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="educational" id="educational" />
											<label for="educational">educational</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="fiction" id="fiction" />
											<label for="fiction">fiction</label>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="journals" id="journals" />
											<label for="journals">journals</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="philosophical" id="philosophical" />
											<label for="philosophical">philosophical</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="poetry" id="poetry" />
											<label for="poetry">poetry</label>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="religious" id="religious" />
											<label for="religious">religious</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="satire" id="satire" />
											<label for="satire">satire</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="selfhelp" id="selfhelp" />
											<label for="self-help">self-help</label>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="sports" id="sports" />
											<label for="sports">sports</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="travel" id="travel" />
											<label for="travel">travel</label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<input type="text" class="text-field form-control field-validation" data-validation-type="string" id="thumb-url" placeholder="URL of thumbnail for the book" name="thumburl" />
									<i class="form-icon fa fa-picture-o"></i>
								</div>
								<div class="form-group submit">
									<span class="form-loader"><i class="fa fa-spinner fa-spin"></i></span>
									<button type="submit" class="btn btn-default">Submit</button>
								</div>
								<div class="alert-validate-form"></div>
							</form>
						</div>
						<!-- end: .contact-form -->
					</div>
					<!-- .row -->
					<div class="space50"></div>

				</div>
				<!-- .container -->
			</div>
			<!-- .content -->
		</section>
		<!-- end: UPLOAD Section -->


		<!-- PROFILE Section -->
		<section id="profile">
			<div class="content">
				<div class="container">

					<header>
						<h3>My Profile<small>&nbsp;</small></h3>
						<h5>Personal details</h5>
					</header>

					<div class="row">
						<!-- contact-details -->
						<div class="col-sm-6 contact-details">

							<div class="space20"></div>
							<h4 class="text-uppercase">Welcome,</h4>
							<h5>&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</h5>
							<div class="fatures">
								<div class="ft-item">
									<div class="ft-icon pull-left">
										<i class="pe-7s-mail pe-2x color-default"></i>
									</div>
									<div class="ft-text">
										<h6>Email ID</h6>
										<p>{{email}}</p>
									</div>
								</div>
								<!-- .ft-item  -->
								<div class="ft-item">
									<div class="ft-icon pull-left">
										<i class="pe-7s-home pe-2x color-default"></i>
									</div>
									<div class="ft-text">
										<h6 class="weight300">City, State</h6>
										<p>
											{{#if city}} {{city}} {{/if}} {{#if state}} {{state}} {{/if}}
										</p>
									</div>
								</div>
								<!-- .ft-item  -->
								<div class="ft-item">
									<div class="ft-icon pull-left">
										<i class="pe-7s-upload pe-2x color-default"></i>
									</div>
									<div class="ft-text">
										<h6>No. of books uploaded</h6>
										<p>15</p>
									</div>
								</div>
								<!-- .ft-item  -->
							</div>
							<!-- .fatures -->

							<div class="space30"></div>

						</div>
						<!-- end: .contact-details -->

						<!-- contact-form -->
						<div class="col-sm-6 col-box bg-gray-light contact-form">

							<h4 class="text-uppercase">Edit Profile</h4>

							<form id="contact-valid-form" class="form-style" method="POST">
								<div class="form-group">
									<input type="text" class="text-field form-control field-validation required" data-validation-type="string" id="form-name" placeholder="Full Name" name="name" />
									<i class="form-icon fa fa-user"></i>
								</div>
								<div class="form-group">
									<input type="text" class="text-field form-control field-validation required" data-validation-type="string" id="form-city" placeholder="City" name="city" />
									<i class="form-icon fa fa-map-marker"></i>
								</div>
								<div class="form-group">
									<input type="text" class="text-field form-control field-validation required" data-validation-type="string" id="form-state" placeholder="State" name="state" />
									<i class="form-icon fa fa-flag"></i>
								</div>
								<div class="form-group submit">
									<span class="form-loader"><i class="fa fa-spinner fa-spin"></i></span>
									<button type="submit" class="btn btn-default">Submit</button>
								</div>
								<div class="alert-validate-form"></div>
							</form>
						</div>
						<!-- end: .contact-form -->
					</div>
					<!-- .row -->


				</div>
				<!-- .container -->
			</div>
			<!-- .content -->
		</section>
		<!-- end: PROFILE Section -->


	</div>
	<!-- end: PAGE-WRAPPER -->

	<div id="allbooks" class="hidden">{{allbooks}}</div>
	<div id="reqbooks" class="hidden">{{reqbooks}}</div>



	<script>
		$(document).ready(function() {

			var books = document.getElementById("allbooks").innerText;
			var allbooks = JSON.parse(books);

			allbooks.forEach(function(elem) {
				var num = elem.requestedUserEmail.length;
				var str = "<figure class=\"item\" data-groups='" + JSON.stringify(elem.genre, undefined, 3) + "' id=\"" + elem._id.toString() + "\"> <a><img src=\"";
				if (elem.thumbnail) {
					str += elem.thumbnail;
				} else {
					str += "/assets/img/thumb.jpg";
				}
				str += "\"> <div> <h5 class=\"name\">" + elem.bookname + "</h5> <small> <i class=\"fa fa-user tip\" style=\"left: 0px\">&nbsp;" + num + "<span class=\"tiptext\"> No. of requests</span></i></small> <button class=\"btn btn-request\" name=\"requestbook\">Request</button></div> </a> </figure>";

				$("#all-books").append(str);

			});

		});

	</script>

	<!-- PLUGIN SCRIPTS -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="/assets/js/masonry.pkgd.min.js"></script>
	<script src="/assets/js/jquery.backstretch.min.js"></script>
	<script src="/assets/js/jquery.stellar.min.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/jquery.shuffle.min.js"></script>
	<script src="/assets/js/jquery.hoverdir.js"></script>
	<script src="/assets/js/jquery.lazy.min.js"></script>
	<script src="/assets/js/functions.js"></script>
	<script src="/assets/js/custom.js"></script>


</body>

</html>
