<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="RAK">
	<title>iTrade - Book Trading System</title>
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700,900" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
	<!-- Styles -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/pe-icon-7-stroke/css/pe-icon-7.css">
	<link rel="stylesheet" href="/assets/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/animate.min.css">
	<link rel="stylesheet" href="/assets/css/animations.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/assets/css/bootsnipp.min.css">
	<link rel="stylesheet" href="/assets/css/theme-orange.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	<!--  Js -->
	<script src="/assets/js/modernizr.custom.js"></script>
	<script src="/assets/js/jquery-2.1.3.min.js"></script>
</head>

<body>

	<!-- PRELOADER -->
	<div class="preloader">
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>
	</div>
	<!-- end: PRELOADER  -->


	<div class="background-blur" style="background-image: url('/assets/img/bg/login.jpg');"></div>


	<!-- NAVIGATION -->
	<nav>
		<!-- Logo -->
		<div class="logo-box">
			<a class="logo logo-img" href="/">
                    <img src="/assets/img/logo-text.png" class="img-responsive" alt="iTrade">
                </a>
		</div>

		<!-- Menu button mobile -->
		<button type="button" aria-label="Toggle Navigation" class="menu-button-mobile lines-button x2">
            <span class="lines"></span>
        </button>

		<!-- Menu -->
		<div class="menu-box my-scrollbar">
			<div id="dl-menu" class="dl-menuwrapper">
				<ul class="dl-menu dl-menuopen menu-left">
					<li><a class="page-link" id="nav-available" href="#available" data-hover="available books">available books</a></li>
					<li><a class="page-link" id="nav-request" href="#request" data-hover="requested books">requested books</a></li>
					<li><a class="page-link" id="nav-books" href="#books" data-hover="my books">my books</a></li>
					<li><a class="page-link" id="nav-statistics" href="#statistics" data-hover="book statistics">book statistics</a></li>
					<li><a class="page-link" id="nav-upload" href="#upload" data-hover="upload book">upload book</a></li>
					<li id="myprofile"><a class="page-link" id="nav-profile" href="#profile" data-hover="edit profile">edit profile</a></li>
					<li><a id="nav-logout" href="/users/logout" data-hover="log out">log out</a></li>
				</ul>
			</div>
		</div>
		<footer class="footer">
			<a class="page-link" href="#profile" id="foot">
                <button class="btn btn-block"><span style="text-transform: capitalize">Hello, </span>
                {{#if name}}
                    {{name}}
                {{/if}}

                {{#else}}
                    Undefined User
                {{/else}}
                </button>
            </a>
		</footer>
	</nav>
	<!-- end: NAVIGATION -->



	<!-- PAGE-WRAPPER -->
	<div class="page-wrapper">


		<div class="page-ajax-preloader">
			<i class="fa fa-refresh fa-spin"></i>
			<span>Loading...</span>
		</div>


		<!-- AVAILABLE Section -->
		<section id="available" class="page-activ">
			<div class="content">
				<div class="container">

					<header>
						<h3>Available books<small>&nbsp; </small></h3>
						<h5>Books available for trade</h5>
					</header>

					<div id="portfolio-filter">

						<!-- navigatin portfolio-filter -->
						<div class="portfolio-filter-nav">
							<button class="btn btn-sm hidden-lg hidden-md" type="button" data-toggle="collapse" data-target="#collapseFiltr" aria-expanded="false" aria-controls="collapseFiltr">
                                    <i class="fa fa-fw fa-filter"></i> Filter
                                </button>
							<div class="collapse" id="collapseFiltr">
								<button class="filter btn btn-sm btn-link active" data-group="all">All</button>
								<button class="filter btn btn-sm btn-link" data-group="art">Art</button>
								<button class="filter btn btn-sm btn-link" data-group="biography">Biography</button>
								<button class="filter btn btn-sm btn-link" data-group="business">Business</button>
								<button class="filter btn btn-sm btn-link" data-group="comics">comics</button>
								<button class="filter btn btn-sm btn-link" data-group="educational">educational</button>
								<button class="filter btn btn-sm btn-link" data-group="fiction">fiction</button>
								<button class="filter btn btn-sm btn-link" data-group="journals">journals</button>
								<button class="filter btn btn-sm btn-link" data-group="philosophical">philosophical</button>
								<button class="filter btn btn-sm btn-link" data-group="poetry">poetry</button>
								<button class="filter btn btn-sm btn-link" data-group="religious">religious</button>
								<button class="filter btn btn-sm btn-link" data-group="satire">satire</button>
								<button class="filter btn btn-sm btn-link" data-group="self-help">Self-help</button>
								<button class="filter btn btn-sm btn-link" data-group="sports">sports</button>
								<button class="filter btn btn-sm btn-link" data-group="travel">travel</button>
							</div>
						</div>
						<!-- end: navigatin portfolio-filter -->


						<!-- portfolio-colum -->
						<div id="all-books" class="portfolio-colum portfolio-masonry masonry-grid-3 portfolio-padding15 portfolio-hover">

						</div>
						<!-- end: portfolio-colum -->

					</div>
					<!-- #portfolio-filter -->

					<div class="space20"></div>


				</div>
				<!-- .container -->
			</div>
			<!-- .content -->

		</section>
		<!-- end: AVAILABLE Section -->


		<!-- REQUESTED Section -->
		<section id="request" class="page-activ">
			<div class="content">
				<div class="container">

					<header>
						<h3>Requested books<small>&nbsp; </small></h3>
						<h5>Books requested for trade</h5>
					</header>

					<div id="portfolio-filter">

						<!-- navigatin portfolio-filter -->
						<div class="portfolio-filter-nav">
							<button class="btn btn-sm hidden-lg hidden-md" type="button" data-toggle="collapse" data-target="#collapseFiltr" aria-expanded="false" aria-controls="collapseFiltr">
                                    <i class="fa fa-fw fa-filter"></i> Filter
                                </button>
							<div class="collapse" id="collapseFiltr">
								<button class="filter btn btn-sm btn-link active" data-group="all">All</button>
								<button class="filter btn btn-sm btn-link" data-group="art">Art</button>
								<button class="filter btn btn-sm btn-link" data-group="biography">Biography</button>
								<button class="filter btn btn-sm btn-link" data-group="business">Business</button>
								<button class="filter btn btn-sm btn-link" data-group="comics">comics</button>
								<button class="filter btn btn-sm btn-link" data-group="educational">educational</button>
								<button class="filter btn btn-sm btn-link" data-group="fiction">fiction</button>
								<button class="filter btn btn-sm btn-link" data-group="journals">journals</button>
								<button class="filter btn btn-sm btn-link" data-group="philosophical">philosophical</button>
								<button class="filter btn btn-sm btn-link" data-group="poetry">poetry</button>
								<button class="filter btn btn-sm btn-link" data-group="religious">religious</button>
								<button class="filter btn btn-sm btn-link" data-group="satire">satire</button>
								<button class="filter btn btn-sm btn-link" data-group="self-help">Self-help</button>
								<button class="filter btn btn-sm btn-link" data-group="sports">sports</button>
								<button class="filter btn btn-sm btn-link" data-group="travel">travel</button>
							</div>
						</div>
						<!-- end: navigatin portfolio-filter -->


						<!-- portfolio-colum -->
						<div id="requested-books" class="portfolio-colum portfolio-masonry masonry-grid-3 portfolio-padding15 portfolio-hover">

						</div>
						<!-- end: portfolio-colum -->

					</div>
					<!-- #portfolio-filter -->

					<div class="space20"></div>


				</div>
				<!-- .container -->
			</div>
			<!-- .content -->

		</section>
		<!-- end: REQUESTED Section -->


		<!-- BOOKS Section -->
		<section id="books">
			<div class="content">
				<div class="container">


					<header>
						<h3>My Books<small>&nbsp;</small></h3>
						<h5>Books uploaded by me</h5>
					</header>

					<div class="blog-masonry masonry-grid-3">
						<div id="my-books" class="item-sizer">

						</div>
					</div>
					<!-- .blog-masonry -->


				</div>
				<!-- .container -->
			</div>
			<!-- .content -->
		</section>
		<!-- end: BOOKS Section -->


		<!-- STATISTICS Section -->
		<section id="statistics">
			<div class="content">
				<div class="container">

					<header>
						<h3>Book statistics<small>&nbsp;</small></h3>
						<h5>Statistics about uploaded books</h5>
					</header>

					<!-- Kush Changes -->
					<div>
						<canvas id="line-chart" width="800" height="400"></canvas>
					</div>
					<!-- .row -->
					<div class="space50"></div>

				</div>
				<!-- .container -->
			</div>
			<!-- .content -->
		</section>
		<!-- end: STATISTICS Section -->


		<!-- UPLOAD Section -->
		<section id="upload">
			<div class="content">
				<div class="container">

					<header>
						<h3>Upload Book<small>&nbsp;</small></h3>
						<h5>Add a new book for trade</h5>
					</header>

					<div>
						<!-- contact-details -->

						<!-- contact-form -->
						<div class="col-box bg-gray-light contact-form">

							<h4 class="text-uppercase">Add Book</h4>

							<form class="form-style" id="booksForm" method="POST" action="/users/upload-book">
								<div class="form-group">
									<input type="text" class="text-field form-control field-validation required" data-validation-type="string" id="book-name" placeholder="Book name" name="bookname" />
									<i class="form-icon fa fa-book-o"></i>
								</div>

								<h5>Genre:</h5>

								<div class="form-group">
									<div class="row">
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="art" id="art" />
											<label for="art">art</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="biography" id="biography" />
											<label for="biography">biography</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="business" id="business" />
											<label for="business">business</label>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="comics" id="comics" />
											<label for="comics">comics</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="educational" id="educational" />
											<label for="educational">educational</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="fiction" id="fiction" />
											<label for="fiction">fiction</label>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="journals" id="journals" />
											<label for="journals">journals</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="philosophical" id="philosophical" />
											<label for="philosophical">philosophical</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="poetry" id="poetry" />
											<label for="poetry">poetry</label>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="religious" id="religious" />
											<label for="religious">religious</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="satire" id="satire" />
											<label for="satire">satire</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="selfhelp" id="selfhelp" />
											<label for="self-help">self-help</label>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="sports" id="sports" />
											<label for="sports">sports</label>
										</div>
										<div class="col-sm-3 checkbox checkbox-primary checkbox-inline">
											<input type="checkbox" name="travel" id="travel" />
											<label for="travel">travel</label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<input type="text" class="text-field form-control field-validation" data-validation-type="string" id="thumb-url" placeholder="URL of thumbnail for the book" name="thumburl" />
									<i class="form-icon fa fa-picture-o"></i>
								</div>
								<div class="form-group submit">
									<span class="form-loader"><i class="fa fa-spinner fa-spin"></i></span>
									<button type="submit" class="btn btn-default">Submit</button>
								</div>
								<div class="alert-validate-form"></div>
							</form>
						</div>
						<!-- end: .contact-form -->
					</div>
					<!-- .row -->
					<div class="space50"></div>

				</div>
				<!-- .container -->
			</div>
			<!-- .content -->
		</section>
		<!-- end: UPLOAD Section -->


		<!-- PROFILE Section -->
		<section id="profile">
			<div class="content">
				<div class="container">

					<header>
						<h3>My Profile<small>&nbsp;</small></h3>
						<h5>Personal details</h5>
					</header>

					<div class="row">
						<!-- contact-details -->
						<div class="col-sm-6 contact-details">

							<div class="space20"></div>
							<h4 class="text-uppercase">Welcome,</h4>
							<h5>&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</h5>
							<div class="fatures">
								<div class="ft-item">
									<div class="ft-icon pull-left">
										<i class="pe-7s-mail pe-2x color-default"></i>
									</div>
									<div class="ft-text">
										<h6>Email ID</h6>
										<p>{{email}}</p>
									</div>
								</div>
								<!-- .ft-item  -->
								<div class="ft-item">
									<div class="ft-icon pull-left">
										<i class="pe-7s-home pe-2x color-default"></i>
									</div>
									<div class="ft-text">
										<h6 class="weight300">City, State</h6>
										<p>
											{{#if city}} {{city}} {{/if}} {{#if state}} {{state}} {{/if}}
										</p>
									</div>
								</div>
								<!-- .ft-item  -->
								<div class="ft-item">
									<div class="ft-icon pull-left">
										<i class="pe-7s-upload pe-2x color-default"></i>
									</div>
									<div class="ft-text">
										<h6>No. of books uploaded</h6>
										<p>{{mybookcount}}</p>
									</div>
								</div>
								<!-- .ft-item  -->
							</div>
							<!-- .fatures -->

							<div class="space30"></div>

						</div>
						<!-- end: .contact-details -->

						<!-- contact-form -->
						<div class="col-sm-6 col-box bg-gray-light contact-form">

							<h4 class="text-uppercase">Edit Profile</h4>

							<form id="" class="form-style" method="POST" action="/users/update-profile">
								<div class="form-group">
									<input type="text" class="text-field form-control field-validation required" data-validation-type="string" id="form-name" placeholder="Full Name" name="name" />
									<i class="form-icon fa fa-user"></i>
								</div>
								<div class="form-group">
									<input type="text" class="text-field form-control field-validation required" data-validation-type="string" id="form-city" placeholder="City" name="city" />
									<i class="form-icon fa fa-map-marker"></i>
								</div>
								<div class="form-group">
									<input type="text" class="text-field form-control field-validation required" data-validation-type="string" id="form-state" placeholder="State" name="state" />
									<i class="form-icon fa fa-flag"></i>
								</div>
								<div class="form-group submit">
									<span class="form-loader"><i class="fa fa-spinner fa-spin"></i></span>
									<button type="submit" class="btn btn-default">Submit</button>
								</div>
								<div class="alert-validate-form"></div>
							</form>
						</div>
						<!-- end: .contact-form -->
					</div>
					<!-- .row -->


				</div>
				<!-- .container -->
			</div>
			<!-- .content -->
		</section>
		<!-- end: PROFILE Section -->


	</div>
	<!-- end: PAGE-WRAPPER -->

	<div id="allbooks" class="hidden">{{allbooks}}</div>
	<div id="reqbooks" class="hidden">{{reqbooks}}</div>
	<div id="mybooks" class="hidden">{{mybooks}}</div>
	<div id="mymail" class="hidden">{{email}}</div>


	<!-- PLUGIN SCRIPTS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<div id="scripts">
		<script src="/assets/js/myscript.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
		<script src="/assets/js/masonry.pkgd.min.js"></script>
		<script src="/assets/js/jquery.backstretch.min.js"></script>
		<script src="/assets/js/jquery.stellar.min.js"></script>
		<script src="/assets/js/owl.carousel.min.js"></script>
		<script src="/assets/js/jquery.shuffle.min.js"></script>
		<script src="/assets/js/jquery.hoverdir.js"></script>
		<script src="/assets/js/jquery.lazy.min.js"></script>
		<script src="/assets/js/functions.js"></script>
		<script src="/assets/js/custom.js"></script>
	</div>

</body>

</html>
